body {
  background-color: #2b2b2b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

form {
  height: 2em;

}

input {
  height: 2em;
  width: 95%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  padding: 5px;
}

.thumbnail {
  height: 150px;
  width: 150px;
  margin: 10px;
  float: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.googleButton {
  margin-top: 20px;
  height: 30px;
  width: 120px;
  background-color: #eee;
  color: '#333';
  font-weight: bold;
}

#centerContainer {
  /*background-color: steelblue;*/
  margin-top: 10%;
  height: 225px; 
  width: 450px;
}

#title {
  width: 200px;
  height: 30%;
  font-family: 'Kalam';
  font-size: 1.5em;
  color: #eee;
}