body {
  background-color: #2b2b2b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

p{
  margin: 15px 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul.trendingList li {
    display: inline;
    padding: 0px 10px;
    color: #0084B4;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
  height: 100px;
}

input {
  height: 2em;
  width: 95%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  padding: 5px;
}

.thumbnail {
  height: 150px;
  width: 150px;
  margin: 10px;
  float: left;
  border-radius: 3px;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #DAA520;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.googleButton {
  height: 30px;
  width: 120px;
  font-color: '#333333';
  font-weight: bold;
  margin-top: 10px;
}

#centerContainer {
  margin-top: 10%;
  height: 190px; 
  width: 450px;
}

#title {
  width: 200px;
  height: 30%;
  font-family: 'Kalam';
  font-size: 1.5em;
  color: #eee;
  margin-bottom: 25px;
}

.trendingLink:hover {
  color: #22A6D6;
}

.comment {
  color: #eee;
}